*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

section>header, footer{
	height:50px;
}

aside{
	width:calc((40% / 2) - 15px);
}

article{
	width:60%;
	margin: 0 15px;
}

aside, article{
	float:left;
	height:400px;
}

footer{
	background-color: #8801fe;
}

section>header,
aside,
article{
	background-color:#abcfe7;
}

.container{
	width:90%;
	margin:0 auto 20px;
}

.clearfix::after{
	clear: both;
	content: "";
	display: table;
}

#main-content{
	background-color: rgb(1, 134, 255);
}

#section-top, section article{
	margin-bottom:20px;
}

#jumbotron{
	height:300px;
	background-color: #e1d67a;
}


#main-logo{
	width:200px;
	padding-right:20px;
	border-right:1px solid rgb(218, 218, 218);
}

#main-logo>img{
	width:100%;
}