*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

nav{
	margin: 20px 0;
}

nav li{
	font-size: 1.3em;
	list-style: none;
	margin-right:15px;
	text-transform: uppercase;
	display: inline-block;
}

aside{
	width:calc((50% / 2) - 20px);
}

article{
	width:50%;
	margin: 0 20px;
}

aside, article, section>header{
	float:left;
}

article>figure{
	background:url(../img/banner-2.jpg) center / cover;
}

figure{
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
	height: 250px;
}

.container{
	width:90%;
	margin:0 auto 20px;
}

.clearfix::after{
	clear: both;
	content: "";
	display: table;
}

.jumbotron-title{
	font-size: 2em;
}

.jumbotron-info{
	font-size:20px;
}

.text-wrapper h5{
	font-size: 1.2em;
	padding:20px 0;
}

header#section-top{
	padding:20px 0;
}

header#section-top h1{
	font-size: 3em;
}

header#section-top p, nav li, div.text-wrapper p{
	color: rgb(155, 155, 155);
}

#section-top, section article{
	margin-bottom:20px;
}

#jumbotron{
	height:500px;
	padding:50px;
	position:relative;
	background:url(../img/banner.jpg) center / cover;
}

#jumbotron, 
#jumbotron:before, 
figure{
	border-radius: 10px;
}


#jumbotron:before{
	content: "";
	opacity:0.75;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	position: absolute;
	background-color: rgba(0,0,0,0.25);
}

#jumbotron-text{
	width:60%;
	position:relative;
	top:65%;
	color:white;
	text-align:left;
}

#jumbotron-text, header#section-top p, div.text-wrapper{
	font-family: 'Open Sans', sans-serif;
}

#main-logo{
	width:180px;
	padding-right:20px;
	border-right:1px solid rgb(218, 218, 218);
}

#main-logo>img, #section-top{
	width:100%;
}

#left-aside>figure{
	background:url(../img/img-1.jpg) center / cover;
}

#right-aside>figure{
	background:url(../img/img-3.jpg) center / cover;
}
