*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

section>header, footer{
	height:50px;
}

aside{
	width:calc((40% / 2) - 15px);
}

article{
	width:60%;
	margin: 0 15px;
}

aside, article{
	float:left;
	height:400px;
}

footer{
	background-color: #8801fe;
}

section>header,
aside,
article{
	background-color:#abcfe7;
}

nav{
	margin: 20px 0;
}

nav li{
	font-size: 1.3em;
	list-style: none;
	margin-right:15px;
	text-transform: uppercase;
	color: rgb(177, 177, 177);
	display: inline-block;
}

.container{
	width:90%;
	margin:0 auto 20px;
}

.clearfix::after{
	clear: both;
	content: "";
	display: table;
}

.jumbotron-title{
	font-size: 2em;
}

.jumbotron-info{
	font-size:20px;
}

#main-content{
	background-color: rgb(1, 134, 255);
}

#section-top, section article{
	margin-bottom:20px;
}

#jumbotron{
	height:500px;
	padding:50px;
	border-radius:10px;
	position:relative;
	background:url(../img/banner.jpg) center / cover;
}

#jumbotron:before{
	content: "";
	opacity:0.75;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border-radius:10px;
	position: absolute;
	background-color: rgba(0,0,0,0.25);
}

#jumbotron-text{
	width:60%;
	font-family: 'Zen Maru Gothic', sans-serif;
	position:relative;
	top:65%;
	color:white;
	text-align:left;
}

#main-logo{
	width:180px;
	padding-right:20px;
	border-right:1px solid rgb(218, 218, 218);
}

#main-logo>img{
	width:100%;
}